<!-- Uncomment the unifont entries when you have that font installed
     in your mapnik fonts dir, and want to use it as a fallback font.
     Mapnik includes this font by default since r1328. -->
<FontSet name="book-fonts">
  <Font face_name="DejaVu Sans Book" />
  <!--Font face_name="unifont Medium" /-->
</FontSet>
<FontSet name="bold-fonts">
  <Font face_name="DejaVu Sans Bold" />
  <!--Font face_name="unifont Medium" /-->
</FontSet>
<FontSet name="oblique-fonts">
  <Font face_name="DejaVu Sans Oblique" />
  <!--Font face_name="unifont Medium" /-->
</FontSet>
